In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('cars.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
mean_weight = df['weight'].mean()
print(mean_weight)

2973.946835443038

In [9]:
max_horsepower = df['horsepower'].max()
print(max_horsepower)

230.0

In [11]:
heavy_cars = (df['weight'] >= 3500).sum()
print(heavy_cars)

109

In [13]:
df_ratio = df.copy()

df_ratio['ratio'] = df_ratio['horsepower'] / df_ratio['weight']
print(df_ratio)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
390  27.0          4         140.0        86.0    2790          15.6
391  44.0          4          97.0        52.0    2130          24.6
392  32.0          4         135.0        84.0    2295          11.6
393  28.0          4         120.0        79.0    2625          18.6
394  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name     ratio
0            70     usa  chevrolet chevelle malibu  0.037100
1            70     usa          buick skylark 320  0.044679
2            70     usa         plymouth satellite  0.043655
3            70     usa              amc rebel sst  0.043694
4            70     usa                ford torino  0.040591
..          ...     ...                        ...       ...
390          82     usa            ford mustang gl  0.030824
391          82  europe                  vw pickup  0.024413
392          82     usa              dodge rampage  0.036601
393          82     usa                ford ranger  0.030095
394          82     usa                 chevy s-10  0.030147

[395 rows x 10 columns]

In [15]:
df_usa = df.copy()

df_usa = df_usa[df_usa['origin'] == 'usa']
print(df_usa)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
389  27.0          4         151.0        90.0    2950          17.3
390  27.0          4         140.0        86.0    2790          15.6
392  32.0          4         135.0        84.0    2295          11.6
393  28.0          4         120.0        79.0    2625          18.6
394  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
389          82    usa           chevrolet camaro
390          82    usa            ford mustang gl
392          82    usa              dodge rampage
393          82    usa                ford ranger
394          82    usa                 chevy s-10

[246 rows x 9 columns]

In [17]:
mean_mpg_usa = df_usa[df_usa['origin'] == 'usa']['mpg'].mean()
print(mean_mpg_usa)

20.04308943089431

In [19]:
eight_cyl_usa = df[(df['origin'] == 'usa') & (df['cylinders'] == 8)].shape[0]
print(eight_cyl_usa)

103

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           395 non-null    float64
 1   cylinders     395 non-null    int64
 2   displacement  395 non-null    float64
 3   horsepower    390 non-null    float64
 4   weight        395 non-null    int64
 5   acceleration  395 non-null    float64
 6   model_year    395 non-null    int64
 7   origin        395 non-null    object
 8   name          395 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 27.9+ KB

In [23]:
df_horsepower = df.copy()

df_horsepower = df_horsepower.dropna()
print(df_horsepower)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
390  27.0          4         140.0        86.0    2790          15.6
391  44.0          4          97.0        52.0    2130          24.6
392  32.0          4         135.0        84.0    2295          11.6
393  28.0          4         120.0        79.0    2625          18.6
394  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
390          82     usa            ford mustang gl
391          82  europe                  vw pickup
392          82     usa              dodge rampage
393          82     usa                ford ranger
394          82     usa                 chevy s-10

[390 rows x 9 columns]

In [25]:
mode_hp = df_horsepower['horsepower'].mode()[0]
print(mode_hp)

150.0

In [27]:
df_high_hp = df_horsepower.copy()

df_high_hp = df_horsepower[df_horsepower['horsepower'] >= mode_hp]
print(df_high_hp)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
5    15.0          8         429.0       198.0    4341          10.0
6    14.0          8         454.0       220.0    4354           9.0
..    ...        ...           ...         ...     ...           ...
228  15.5          8         350.0       170.0    4165          11.4
229  15.5          8         400.0       190.0    4325          12.2
261  17.7          6         231.0       165.0    3445          13.4
287  16.9          8         350.0       155.0    4360          14.9
290  18.5          8         360.0       150.0    3940          13.0

     model_year origin                                  name
1            70    usa                     buick skylark 320
2            70    usa                    plymouth satellite
3            70    usa                         amc rebel sst
5            70    usa                      ford galaxie 500
6            70    usa                      chevrolet impala
..          ...    ...                                   ...
228          77    usa          chevrolet monte carlo landau
229          77    usa                      chrysler cordoba
261          78    usa       buick regal sport coupe (turbo)
287          79    usa               buick estate wagon (sw)
290          79    usa  chrysler lebaron town @ country (sw)

[67 rows x 9 columns]

In [29]:
percentage_eight_cyl = len(df_high_hp[df_high_hp['cylinders'] == 8]) / len(df_high_hp) * 100
print(percentage_eight_cyl)

98.50746268656717

In [31]:
df['name'].value_counts()

name
toyota corolla         5
amc matador            5
ford maverick          5
toyota corona          4
chevrolet chevette     4
                      ..
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
amc pacer              1
chevy s-10             1
Name: count, Length: 306, dtype: int64

In [33]:
df_name = df.copy()

df_name['name_year'] = df_name['name'] + ' - 19' + df_name['model_year'].astype(str)
print(df_name)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
390  27.0          4         140.0        86.0    2790          15.6
391  44.0          4          97.0        52.0    2130          24.6
392  32.0          4         135.0        84.0    2295          11.6
393  28.0          4         120.0        79.0    2625          18.6
394  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name  \
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
390          82     usa            ford mustang gl
391          82  europe                  vw pickup
392          82     usa              dodge rampage
393          82     usa                ford ranger
394          82     usa                 chevy s-10

                            name_year
0    chevrolet chevelle malibu - 1970
1            buick skylark 320 - 1970
2           plymouth satellite - 1970
3                amc rebel sst - 1970
4                  ford torino - 1970
..                                ...
390            ford mustang gl - 1982
391                  vw pickup - 1982
392              dodge rampage - 1982
393                ford ranger - 1982
394                 chevy s-10 - 1982

[395 rows x 10 columns]

In [35]:
df_name['name_year'].value_counts()

name_year
chevrolet chevelle malibu - 1970    1
datsun 200-sx - 1978                1
plymouth sapporo - 1978             1
toyota celica gt liftback - 1978    1
dodge omni - 1978                   1
                                   ..
ford pinto - 1974                   1
datsun b210 - 1974                  1
chevrolet nova - 1974               1
amc hornet - 1974                   1
chevy s-10 - 1982                   1
Name: count, Length: 395, dtype: int64

In [37]:
df_car_index = df_name.copy()

df_car_index.set_index('name_year', inplace=True)
print(df_car_index)

                                   mpg  cylinders  displacement  horsepower  \
name_year
chevrolet chevelle malibu - 1970  18.0          8         307.0       130.0
buick skylark 320 - 1970          15.0          8         350.0       165.0
plymouth satellite - 1970         18.0          8         318.0       150.0
amc rebel sst - 1970              16.0          8         304.0       150.0
ford torino - 1970                17.0          8         302.0       140.0
...                                ...        ...           ...         ...
ford mustang gl - 1982            27.0          4         140.0        86.0
vw pickup - 1982                  44.0          4          97.0        52.0
dodge rampage - 1982              32.0          4         135.0        84.0
ford ranger - 1982                28.0          4         120.0        79.0
chevy s-10 - 1982                 31.0          4         119.0        82.0

                                  weight  acceleration  model_year  origin  \
name_year
chevrolet chevelle malibu - 1970    3504          12.0          70     usa
buick skylark 320 - 1970            3693          11.5          70     usa
plymouth satellite - 1970           3436          11.0          70     usa
amc rebel sst - 1970                3433          12.0          70     usa
ford torino - 1970                  3449          10.5          70     usa
...                                  ...           ...         ...     ...
ford mustang gl - 1982              2790          15.6          82     usa
vw pickup - 1982                    2130          24.6          82  europe
dodge rampage - 1982                2295          11.6          82     usa
ford ranger - 1982                  2625          18.6          82     usa
chevy s-10 - 1982                   2720          19.4          82     usa

                                                       name
name_year
chevrolet chevelle malibu - 1970  chevrolet chevelle malibu
buick skylark 320 - 1970                  buick skylark 320
plymouth satellite - 1970                plymouth satellite
amc rebel sst - 1970                          amc rebel sst
ford torino - 1970                              ford torino
...                                                     ...
ford mustang gl - 1982                      ford mustang gl
vw pickup - 1982                                  vw pickup
dodge rampage - 1982                          dodge rampage
ford ranger - 1982                              ford ranger
chevy s-10 - 1982                                chevy s-10

[395 rows x 9 columns]

In [39]:
def acceleration(name_year):
    acceleration_value = df_car_index.loc[name_year, 'acceleration']
    return acceleration_value

In [41]:
acceleration('ford torino - 1970')

10.5