In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
df['Change %'] = (df['Adj Close'].pct_change() * 100)

In [10]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031

In [12]:
mean_adj_close = df['Adj Close'].mean()
print(mean_adj_close)

167.04975667513898

In [14]:
min_low = df['Low'].min()
print(min_low)

89.470001

In [16]:
max_high = df['High'].max()
print(max_high)

372.380005

In [18]:
price_range = df['High'].max() - df['Low'].min()
print(price_range)

282.91000399999996

In [20]:
entries = df.shape[0]
print(entries)

1259

In [22]:
positive_days = (df['Change %'] > 0).sum()
print(positive_days)

671

In [24]:
days_higher = (df['Adj Close'] > df.iloc[-1]['Adj Close']).sum()
print(days_higher)

2

In [28]:
df_2020 = df[df['Year'] == 2020].copy()
df_2020.set_index('Date', inplace=True)

In [36]:
mean_change_mon_2020 = (df_2020['Change %'][df_2020['Weekday'] == 'Monday']).mean()
print(mean_change_mon_2020)

0.2918877852311579

In [38]:
total_volume_march_2020 = df_2020[df_2020['Month'] == 3]['Volume'].sum()
print(total_volume_march_2020)

1570018100

In [40]:
year_high_timestamp = (df_2020['Adj Close']).idxmax()
print(year_high_timestamp)

2020-06-23 00:00:00

In [42]:
df_top_10 = df.nlargest(10, 'Change %').copy()

In [44]:
top_10_not_mon = (df_top_10['Weekday'] != 'Monday').sum()
print(top_10_not_mon)

8

In [46]:
df_var = df.copy()
df_var['Variation %'] = ((df['High'] - df['Low']) / df['Close']) * 100